<footer class="page-footer font-small lighten-3 pt-4" style="margin-top:40px; background-color: #4285f4;">
    <div class="container text-center text-md-left">

        <div class="row">
            <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
                <h5 class="font-weight-bold text-uppercase mb-4">LỊCH LÀM VIỆC</h5>
                <p>Thứ 2 - Thứ 7: 8h00 - 20h00</p>
                <p>Chủ Nhật, ngày lễ đóng cửa</p>

            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
                <h5 class="font-weight-bold text-uppercase mb-4">Địa chỉ</h5>
                <ul class="list-unstyled">
                    <li>
                        <p>
                            <i class="fas fa-home mr-3"></i> Nguyễn Sinh Sắc, TP Đà Nẵng</p>
                    </li>
                    <li>
                        <p>
                            <i class="fas fa-envelope mr-3"></i> hoangsonbusiness@gmail.com</p>
                    </li>
                    <li>
                        <p>
                            <i class="fas fa-phone mr-3"></i> 0947 857 358</p>
                    </li>
                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
                <h5 class="font-weight-bold text-uppercase mb-4">Fanpage</h5>
                <a type="button" class="btn-floating btn-fb btn-lg" style="border: 1px solid #fff">
                    <i class="fab fa-facebook-f"></i>
                </a>

            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="/"> SonTTH1</a>
    </div>
</footer>