<section>
    <div class="jumbotron text-center hoverable p-4">
        <div class="row">
            <div class="col-md-5 offset-md-1 mx-3 my-3">
                <div class="view overlay">
                    <img src="assets/img/banner-2.jpg" class="img-fluid" alt="banner-1">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

            </div>
            <div class="col-md-6 text-md-left ml-3 mt-3">
                <h2 class="display-9 text-info"><b>Trung tâm dạy lái xe Sao Vàng</b></h2>
                <p class="lead"><i>Trường dạy lái xe hàng đầu tại Thành phố Đà Nẵng</i></p>
                <hr class="my-4" style="border-top: 1px solid #383838">
                <p class="font-weight-normal">Trường Dạy Lái Xe Sao Vàng trực thuộc Sở LĐ – TBXH và Sở GTVT Tp.HCM được thành lập theo quyết định số 52/TCĐBVNQLPT&NL của Tổng cục đường bộ VN ký ngày 06/06/2006. Qua hơn 10 năm kinh nghiệm và dẫn đầu trong đào tạo lái xe, chúng tôi
                    tự hào đã đào tạo hàng ngàn học viên học lái xe tại TP Đà Nẵng và các tỉnh thành lân cận sở hữu bằng lái xe môtô, ôtô, xe máy… chất lượng với chi phí cạnh tranh nhất, cùng kỹ năng lái xe lành nghề, tự tin trên mọi cung đường. Dạy Lái
                    Xe An Toàn – Nơi học lái xe ôtô giá rẻ, chất lượng, uy tín hàng đầu ở TP Đà Nẵng. Học lái xe ôtô B2 tại TP Đà Nẵng đảm bảo đậu 95% với chi phí trọn gói không phát sinh trong quá trình học.</p>

                <a class="btn btn-primary btn-lg">Xem thêm</a>
            </div>
        </div>
    </div>
</section>