<section class="feedback">
    <div class="card" style="margin-top:40px;">
        <h3 class="card-header text-center" style="background-color: #4285f4"><b style="color: #FFF;">Đánh giá của học viên</b></h3>
        <div class="card">
            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card testimonial-card">
                        <div class="card-up lady-lips-gradient"></div>
                        <div class="avatar mx-auto"><img src="https://daylaixeoto.edu.vn/sites/default/files/styles/home_testimonial/public/testimonial/DSC_0495%20copy.jpg?itok=CkFAwZKF" class="rounded-circle img-responsive" alt="Example photo">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title mt-1 text-center">
                                <footer class="blockquote-footer"><cite title="Source Title">Thu Thủy</cite></footer>
                            </h4>
                            <hr>
                            <p><i class="fas fa-quote-left"></i> Mình thi A2 xong nhờ mấy em ở văn phòng đổi bằng IAA, mới làm 1 chuyến xuyên xứ sở chuột túi xong, hoàn toàn yên tâm về dịch vụ của các em.<i class="fas fa-quote-right"></i></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card testimonial-card">
                        <div class="card-up lady-lips-gradient"></div>
                        <div class="avatar mx-auto"><img src="https://daylaixeoto.edu.vn/sites/default/files/styles/home_testimonial/public/testimonial/668%20Hung.JPG?itok=WXOR0zxM" class="rounded-circle img-responsive" alt="Example photo">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title mt-1 text-center">
                                <footer class="blockquote-footer"><cite title="Source Title">Nguyễn Tấn Thành</cite></footer>
                            </h4>
                            <hr>
                            <p><i class="fas fa-quote-left"></i>Thành mới thi GPLX hạng A2 bên Trung tâm dạy lái xe Sao Vàng xong, nhờ mr Hưng nhiệt tình hỗ trợ nên vượt qua bài thi lý thuyết và thực hành trơn tru ngon lành, rất cảm ơn tt đã giúp đỡ mình
                                những bước khởi đầu cho đam mê PKL, nhất định sẽ giới thiệu bạn bè tới thi.<i class="fas fa-quote-right"></i></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card testimonial-card">
                        <div class="card-up lady-lips-gradient"></div>
                        <div class="avatar mx-auto"><img src="https://daylaixeoto.edu.vn/sites/default/files/styles/home_testimonial/public/testimonial/day-lai-xe-hoc-vien-trinh.jpg?itok=AzaPbRKh" class="rounded-circle img-responsive" alt="Example photo">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title mt-1 text-center">
                                <footer class="blockquote-footer"><cite title="Source Title">Thúy An</cite></footer>
                            </h4>
                            <hr>
                            <p><i class="fas fa-quote-left"></i>Trung tâm dạy Lái Xe Sao Vàng khá ổn, giáo viên dạy học lái xe ô tô nhiệt tình, hiện em vừa thi đậu xong. Chân thành cảm ơn các thầy rất nhiều. Chúc trường sẽ phát triển mạnh mẽ để trở thành
                                trung tâm đào tạo lái xe hàng đầu tại tp Đà Nẵng.<i class="fas fa-quote-right"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>