<div class="bg-light border-right">
    <div class="list-group list-group-flush">
        <a [routerLink]="['/quan-ly']" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a [routerLink]="['khoa-hoc/danh-sach']" class="list-group-item list-group-item-action bg-light">Khóa học</a>
        <a [routerLink]="['tin-tuc']" class="list-group-item list-group-item-action bg-light">Tin tức</a>
        <a [routerLink]="['tai-lieu']" class="list-group-item list-group-item-action bg-light">Tài liệu</a>
        <a [routerLink]="['mon-hoc/danh-sach']" class="list-group-item list-group-item-action bg-light">Môn học</a>
        <a [routerLink]="['khoa-sinh-vien/danh-sach']" class="list-group-item list-group-item-action bg-light">Khóa sinh viên</a>
    </div>
</div>