<section class="course-index">
    <div class="card mb-3">
        <h3 class="card-header text-center" style="background-color: #4285f4"><b style="color: #FFF;">Các khóa học</b></h3>
        <!-- <div class="row" style="margin:auto"> -->
        <div class="row">
            <div class="{{className}}" *ngFor="let obj of data">
                <!-- <div class="card mb-3" style="max-width: 100%"> -->
                <div class="card" style="max-width: 100%">
                    <div class="card-header view overlay zoom"><img style="height: 200px; width: 100%; display: block;" src="{{obj.thumpbnail}}" alt="Card image"></div>
                    <div class="card-body">
                        <h4 class="card-title">{{obj.title}}</h4>
                        <p class="card-text">{{obj.shortContent}}</p>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" [routerLink]="['/khoa-hoc/', obj._id]" role="button">Xem thêm</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-4 col-xs-12 col-sm-12">
                <div class="card mb-3" style="max-width: 100%;">
                    <div class="card-header view overlay zoom"><img style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                            alt="Card image"></div>
                    <div class="card-body">
                        <h4 class="card-title">Thi Bằng Lái Ôtô B1</h4>
                        <p class="card-text">Dành cho học viên muốn chạy xe mô tô 2 bánh dưới 175cc, hướng dẫn đậu 99%<br> Thời gian học: 1 tuần<br> Thực hiện: tập xe miễn phí<br> Khám sức khỏe ngay tại văn phòng<br> Hồ sơ: 01 bản photo CMND + 04 tấm hình<br> Học phí: 315.000đ</p>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Xem thêm</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-12">
                <div class="card mb-3" style="max-width: 100%;">
                    <div class="card-header view overlay zoom"><img style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                            alt="Card image"></div>
                    <div class="card-body">
                        <h4 class="card-title">Thi Bằng Lái Ôtô B2</h4>
                        <p class="card-text">Dành cho học viên muốn chạy xe mô tô 2 bánh dưới 175cc, hướng dẫn đậu 99%<br> Thời gian học: 1 tuần<br> Thực hiện: tập xe miễn phí<br> Khám sức khỏe ngay tại văn phòng<br> Hồ sơ: 01 bản photo CMND + 04 tấm hình<br> Học phí: 315.000đ</p>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Xem thêm</a>
                        </p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>