<section class="promotion">
    <div class="card" style="margin-top:40px">
        <h3 class="card-header text-center" style="background-color: #4285f4"><b style="color: #FFF;">Dịch vụ đào tạo lái xe hoàn hảo tại TP đà nẵng</b></h3>
        <div class="card">
            <div class="row">
                <div class="col-md-3">
                    <span class="name-icon fa fa-building"></span>
                    <h6 class="card-subtitle mb-2 text-muted">ĐÀO TẠO CHÍNH QUY</h6>
                    <p class="card-text">Trung tâm dạy lái xe Sao Vàng được thành lập ngày 06/06/2006 bởi Tổng cục đường bộ VN đã ký quyết định số 52/ TCĐBVN-QLPT&NL.</p>
                </div>
                <div class="col-md-3">
                    <span class="name-icon fa fa-users"></span>
                    <h6 class="card-subtitle mb-2 text-muted">ĐỘI NGŨ GIÁO VIÊN GIỎI</h6>
                    <p class="card-text">Kỹ năng lái xe thành thạo, tự tin trên những cung đường là trách nhiệm của đội ngũ cán bộ, giáo viên giỏi, đầy nhiệt huyết của Trung tâm dạy lái xe Sao Vàng.</p>
                </div>
                <div class="col-md-3">
                    <span class="name-icon far fa-address-card"></span>
                    <h6 class="card-subtitle mb-2 text-muted">ĐĂNG KÝ NHANH</h6>
                    <p class="card-text">Thủ tục đăng ký online nhanh gọn cùng sự hỗ trợ nhiệt tình của đội ngũ nhân viên Trung tâm dạy lái xe Sao Vàng sẽ tiết kiệm được rất nhiều thời gian cho bạn.</p>
                </div>
                <div class="col-md-3">
                    <span class="name-icon far fa-grin-beam"></span>
                    <h6 class="card-subtitle mb-2 text-muted">HỌC VIÊN HÀI LÒNG</h6>
                    <p class="card-text">Chúng tôi không cam kết “bao đậu”, nhưng sự hài lòng của hàng trăm học viên mỗi năm là động lực cho toàn thể Trung tâm dạy lái xe Sao Vàng.</p>
                </div>
            </div>

        </div>
    </div>
</section>